/*	-	-	-	-	-	-	-	-	-	-	*/
/* Style visuel global pour le projet */


/* Import */
@import url('https://rsms.me/inter/inter.css');




/* Reset */
* { box-sizing: border-box; margin:0; }
img { max-width: 100%; display: block; object-fit: cover; }




/* Typo */

body { font-family: InterVariable, sans-serif; }

h3{
	font-size: 2rem;
	line-height: 100%;
	font-weight: 200;
}




/* Couleur */

html {
	color: #333;
	background-color: #F6F6F6;
}




/* Géometrie & Mise en page */

body{
	padding: 1rem;
}
/* navigation */
#siteNav {
	position: fixed;
	top: 0;
	right: 0;
	background: blue;
	color: #fff;
	padding: 1rem;
	display: flex;
	gap: 1rem;

}

#siteNav a{
	color: inherit;
	text-decoration: none;
}
#siteNav a:first-child::before {
	content: "⟵ ";
}
#siteNav a:last-child::after {
	content: " ⟶";
}

#siteNav a:hover{
	text-decoration: underline;
	text-shadow: 0 0 0.5em #fff;
}